@model MercDevs_ej2.Models.Recepcionequipo

@{
    ViewData["Title"] = "Crear Recepción de Equipo";
}

<div class="container mt-6" style="max-width: 900px;">
    <h1 class="text-center mb-4 text-primary">Crear Recepción de Equipo</h1>
    <form asp-action="Create" class="border p-4 rounded shadow">
        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

        <div class="mb-3">
            <label asp-for="IdCliente" class="form-label">Nombre del Cliente</label>
            <select asp-for="IdCliente" class="form-select" asp-items="@ViewBag.IdCliente"></select>
            <span asp-validation-for="IdCliente" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="IdServicio" class="form-label">Nombre del Servicio</label>
            <select asp-for="IdServicio" class="form-select" asp-items="@ViewBag.IdServicio"></select>
            <span asp-validation-for="IdServicio" class="text-danger"></span>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label asp-for="Fecha" class="form-label">Fecha</label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="TipoPc" class="form-label">Tipo de PC</label>
                <select asp-for="TipoPc" class="form-select">
                    <option value="" disabled selected>-- Seleccione el tipo de pc --</option>
                    <option value="0">Torre</option>
                    <option value="1">Notebook</option>
                    <option value="2">All-in-one</option>
                    <option value="3">Otros...</option>
                </select>
                <span asp-validation-for="TipoPc" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label asp-for="CPU" class="form-label">CPU</label>
                <input asp-for="CPU" class="form-control" placeholder="Ingrese el modelo del CPU" />
                <span asp-validation-for="CPU" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Accesorio" class="form-label">Accesorios</label>
                <input asp-for="Accesorio" class="form-control" placeholder="Ingrese accesorios si existen" />
                <span asp-validation-for="Accesorio" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label asp-for="MarcaPc" class="form-label">Marca del PC</label>
                <input asp-for="MarcaPc" class="form-control" placeholder="Ingrese la marca del PC" />
                <span asp-validation-for="MarcaPc" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="ModeloPc" class="form-label">Modelo del PC</label>
                <input asp-for="ModeloPc" class="form-control" placeholder="Ingrese el modelo" />
                <span asp-validation-for="ModeloPc" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label asp-for="Nserie" class="form-label">N° Serie del PC</label>
                <input asp-for="Nserie" class="form-control" placeholder="Escriba el número de serie" />
                <span asp-validation-for="Nserie" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="CapacidadRam" class="form-label">Capacidad de RAM</label>
                <select asp-for="CapacidadRam" class="form-select">
                    <option value="" disabled selected>-- Seleccione la capacidad de RAM --</option>
                    <option value="0">4 GB</option>
                    <option value="1">8 GB</option>
                    <option value="2">16 GB</option>
                    <option value="4">32 GB</option>
                    <option value="5">64 GB</option>
                    <option value="6">128 GB o mas</option>
                </select>
                <span asp-validation-for="CapacidadRam" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label asp-for="TipoAlmacenamiento" class="form-label">Tipo de Almacenamiento</label>
                <select asp-for="TipoAlmacenamiento" class="form-select">
                    <option value="" disabled selected>-- Seleccione el tipo de almacenamiento --</option>
                    <option value="0">HDD</option>
                    <option value="1">SSD</option>
                    <option value="2">SSD M.2</option>
                    <option value="3">SSD NVMe M.2</option>
                </select>
                <span asp-validation-for="TipoAlmacenamiento" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="CapacidadAlmacenamiento" class="form-label">Capacidad de Almacenamiento</label>
                <input asp-for="CapacidadAlmacenamiento" class="form-control" placeholder="Ingrese la capacidad de almacenamiento" />
                <span asp-validation-for="CapacidadAlmacenamiento" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label asp-for="TipoGpu" class="form-label">Tipo de GPU</label>
                <select asp-for="TipoGpu" class="form-select">
                    <option value="" disabled selected>-- Seleccione el tipo de GPU --</option>
                    <option value="0">Chip Integrado</option>
                    <option value="1">Tarjeta dedicada</option>
                    <option value="2">Otros...</option>
                </select>
                <span asp-validation-for="TipoGpu" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Grafico" class="form-label">Modelo de Gráfica</label>
                <input asp-for="Grafico" class="form-control" placeholder="Ingrese el modelo de la gráfica" />
                <span asp-validation-for="Grafico" class="text-danger"></span>
            </div>
        </div>

        <div class="mb-3">
            <label asp-for="Estado" class="form-label">Estado</label>
            <select asp-for="Estado" class="form-select">
                <option value="" disabled selected>-- Seleccione el estado --</option>
                <option value="0">Finalizado</option>
                <option value="1">Recepcionado</option>
                <option value="2">En espera</option>
            </select>
            <span asp-validation-for="Estado" class="text-danger"></span>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary">Crear Recepción</button>
            <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
