@model MercDevs_ej2.Models.Datosfichatecnica

@{
    ViewData["Title"] = "Crear Ficha Técnica";
}

<div class="container mt-6" style="max-width: 800px;">
    <h1 class="text-center mb-4">Crear Ficha Técnica</h1>

    <form asp-action="Create" method="post">
        <div class="form-group mb-4">
            <label for="FechaInicio" class="form-label">Fecha de Inicio</label>
            <input asp-for="FechaInicio" class="form-control" type="date" required />
        </div>

        <div class="form-group mb-4">
            <label for="FechaFinalizacion" class="form-label">Fecha de Término</label>
            <input asp-for="FechaFinalizacion" class="form-control" type="date" required />
        </div>

        <div class="form-group">
            <label asp-for="RecepcionEquipoId" class="control-label">Id Recepcion de Equipo</label>
            <select asp-for="RecepcionEquipoId" class="form-control" asp-items="@ViewBag.RecepcionEquipoId"></select>
            <span asp-validation-for="RecepcionEquipoId" class="text-danger"></span>
        </div>

        <div class="form-group mb-4">
            <label for="PobservacionesRecomendaciones" class="form-label">Observaciones || Recomendaciones</label>
            <textarea asp-for="PobservacionesRecomendaciones" class="form-control" rows="3"></textarea>
        </div>

        <div class="form-group mb-4">
            <label for="Soinstalado" class="form-label">Sistema Operativo</label>
            <select asp-for="Soinstalado" class="form-select" required>
                
                <option value="0">Windows 10</option>
                <option value="1">Windows 11</option>
                <option value="2">Linux</option>
                <option value="3">Desconocido</option>
            </select>
        </div>

        <div class="form-group mb-4">
            <label for="SuiteOffice" class="form-label">Sistema Office Instalado</label>
            <select asp-for="SuiteOfficeInstalada" class="form-select" required>
                <option value="0">Microsoft Office 2013</option>
                <option value="1">Microsoft Office 2019</option>
                <option value="2">Microsoft Office 365</option>
                <option value="3">OpenOffice</option>
                <option value="4">Desconocido</option>
            </select>
        </div>

        <div class="form-group mb-4">
            <label for="LectorPDF" class="form-label">Lector PDF</label>
            <select asp-for="LectorPdfinstalado" class="form-select" required>
                <option value="0">No Instalado</option>
                <option value="1">Instalado</option>
                <option value="2">No Aplica</option>
                <option value="3">Desconocido</option>
            </select>
        </div>

        <div class="form-group mb-4">
            <label for="NavegadorWeb" class="form-label">Navegador Web</label>
            <select asp-for="NavegadorWebInstalado" class="form-select" required>
                <option value="0">No Instalado</option>
                <option value="1">Chrome</option>
                <option value="2">Chrome y Firefox</option>
                <option value="3">Desconocido</option>
            </select>
        </div>

        <div class="form-group mb-4">
            <label for="AntivirusInstalado" class="form-label">Antivirus</label>
            <input asp-for="AntivirusInstalado" class="form-control" type="text" />
        </div>

        <div class="mt-4 d-flex justify-content-between">
            <button type="submit" class="btn btn-primary btn-sm">
                <i class="bi bi-save"></i> Guardar
            </button>
        </div>
    </form>
    <a asp-action="Index" class="btn btn-secondary btn-sm">
        <i class="bi bi-arrow-left-circle"></i> Volver
    </a>
</div>
