@model MercDevs_ej2.Models.Usuario

@{
    ViewData["Title"] = "Editar Usuario";
}

<h1>Editar Usuario</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdUsuario" />

            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" placeholder="Ingrese su nombre" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" placeholder="Ingrese su apellido" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control" placeholder="Ingrese su correo" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CurrentPassword" class="control-label">Ingrese su contraseña para confirmar</label>
                <input asp-for="CurrentPassword" type="password" class="form-control" placeholder=" Ingrese su contraseña" />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-warning" />
            </div>
        </form>

        <!-- Área para mensajes de éxito o error -->
        @if (ViewData["Message"] != null)
        {
            <div class="alert alert-info">@ViewData["Message"]</div>
        }
    </div>
</div>

<div>
    <a asp-action="Index">
        <button class="btn btn-secondary">Volver a la lista</button>
    </a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
